/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 #users-card-container {
   width: 28%;
   float: right;
   border: 2px solid black;
   padding: 10px;
   height: 100vh;
   padding-bottom: 0;
 }

 #users-card-container .message-container {
   padding: 5px;
 }

 #users-card-container .user-card.selected {
   background-color: lightgrey; 
 }

 #messages-card-container {
   width: 70%;
   float: left;
   height: calc(100% - 150px);
   padding-bottom: 0;
 }
 #messages-card {
   margin-top: 15px;
 }
 #messages {
   overflow-y: auto;
   margin-bottom: 10px;
   height: calc(100% - 90px);
   flex: 1 1 auto;
   flex-direction: column;
   display: flex;
 }
 #message-filler {
   flex-grow: 1;
 }
 .message-container:first-of-type {
   border-top-width: 0;
 }
 .message-container {
   display: block;
   margin-top: 10px;
   border-top: 1px solid #f3f3f3;
   padding-top: 10px;
   opacity: 0;
   transition: opacity 1s ease-in-out;
 }
 .message-container.visible {
   opacity: 1;
 }
 .message-container .pic {
   background-image: url('/assets/profile_placeholder.png');
   background-repeat: no-repeat;
   width: 30px;
   height: 30px;
   background-size: 30px;
   border-radius: 20px;
 }
 .message-container .spacing {
   display: table-cell;
   vertical-align: top;
 }
 .message-container .message {
   display: table-cell;
   width: calc(100% - 40px);
   padding: 5px 0 5px 10px;
 }
 .message-container .name {
   display: inline-block;
   width: 100%;
   padding-left: 40px;
   color: #bbb;
   font-style: italic;
   font-size: 12px;
   box-sizing: border-box;
 }
 #message-form {
   display: flex;
   flex-direction: row;
   width: calc(100% - 48px);
   float: left;
 }
 #image-form {
   display: flex;
   flex-direction: row;
   width: 48px;
   float: right;
 }
 #message-form button, #image-form button {
   width: 100px;
   margin: 15px 0 0 10px;
 }
 .mdl-card {
   min-height: 0;
 }
 .mdl-card {
   background: linear-gradient(white, #f9f9f9);
   justify-content: space-between;
 }
 #user-container {
   position: absolute;
   display: flex;
   flex-direction: row;
   top: 22px;
   width: 100%;
   right: 0;
   padding-left: 10px;
   justify-content: flex-end;
   padding-right: 10px;
 }
 #user-container #user-pic {
   top: -3px;
   position: relative;
   display: inline-block;
   background-image: url('/assets/profile_placeholder.png');
   background-repeat: no-repeat;
   width: 40px;
   height: 40px;
   background-size: 40px;
   border-radius: 20px;
 }
 #user-container #user-name {
   font-size: 16px;
   line-height: 36px;
   padding-right: 10px;
   padding-left: 20px;
 }
 #image-form #submitImage {
   width: auto;
   padding: 0 6px 0 1px;
   min-width: 0;
 }
 #image-form #submitImage .material-icons {
   top: -1px;
 }
 .message img {
   max-width: 300px;
   max-height: 200px;
 }
 #mediaCapture {
   display: none;
 }
 @media screen and (max-width: 610px) {
   header {
     height: 113px;
     padding-bottom: 80px !important;
   }
   #user-container {
     top: 72px;
     background-color: rgb(3,155,229);
     height: 38px;
     padding-top: 3px;
     padding-right: 2px;
   }
   #user-container #user-pic {
     top: 2px;
     width: 33px;
     height: 33px;
     background-size: 33px;
   }
 }

 .page-header {
   width: 100%;
   margin: 0;
   padding: 0;
   border: none;
   min-height: 64px;
   max-height: 1000px;
   z-index: 3;
   background-color: rgb(255,152,0);
   color: rgb(66,66,66);
   box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
   transition-duration: .2s;
   transition-timing-function: cubic-bezier(.4,0,.2,1);
   transition-property: max-height,box-shadow;
 }

 #message-form .mdl-textfield {
   width: calc(100% - 100px);
 }
 .mdl-textfield__label:after {
   background-color: #0288D1;
 }
 .mdl-textfield--floating-label.is-focused .mdl-textfield__label {
   color: #0288D1;
 }
 .mdl-button .material-icons {
   top: -1px;
   margin-right: 5px;
 }
